header {
  padding: 76px 0 54px;
}

#resultCard .card-header {
  border-top: solid 1px rgba(0, 0, 0, 0);
}

body {
  min-height: 100vh;
}

.flex-grow {
  flex: 1;
}

.quote {
  border-left: solid #EBEBEB 4px;
}
